@import "tailwindcss";
@import "tw-animate-css";

/* Hide scrollbar but allow scrolling */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
    background-color: black;
    color: white;
    font-family: 'Walter Turncoat', sans-serif;
}
